/* ~-~-~-~-~-~-~-~- Reset (Tantek Celik's) -~-~-~-~-~-~-~-~ */
:link,
:visited {
    text-decoration: none
}

ul,
ol {
    list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
    font-size: 1em
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input {
    margin: 0;
    padding: 0
}

a img,
:link img,
:visited img {
    border: none
}

address {
    font-style: normal
}

/* ~-~-~-~-~-~-~-~- Reset (Corey McKeever's) -~-~-~-~-~-~-~-~ */
* {
    box-sizing: border-box
}


/* ~~~~~~~~~~~~~~~~~~~~~~~ End resets ~~~~~~~~~~~~~~~~~~~~~~~ */


/* Begin David Baldi's CSS */

@media screen and (min-width: 393px) {

    .screen-container {
        background-color: antiquewhite;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .welcome-img1,
    .welcome-img2 {
        background-color: aquamarine;
        width: 350px;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .login-box {
        background-color: aqua;
        width: 350px;
        height: 350px;
    }

    .informational {
        background-color: bisque;
        width: 350px;
        display: flex;
        justify-content: center;
    }

}