<div class="card-whole-div">
    <div class="card-itself">
        <img src="/static/{{ card.filename }}" alt="Image of {{ card.card_name }}" class="card-img-resizing">
    </div>
    <div class="card-bottom-info">
        <div class="card-bottom-info-name card-bottom-info-entry">
            <i><b>{{ card.card_name }}</b></i>
        </div>
        <div class="card-bottom-info-version card-bottom-info-entry">
            <i>version</i> <b>Collectable</b>
        </div>
        <div class="card-bottom-info-status card-bottom-info-entry">
            <i>status</i> <b>Private Collection</b>
        </div>
        <div class="card-like-button">
            {% if card.id in current_user.favorite_cards %}
                {% set isCardLiked = 'true' %}
                {% set img_src_version = '/static/img-liked.png' %}
            {% elif card.id not in current_user.favorite_cards %}
                {% set isCardLiked = 'false' %}
                {% set img_src_version = '/static/img-unliked.png' %}
            {% endif %}
            <form action="#">
                <button type="submit" id="heartButton{{ card.id }}" class="remove-button-styling" 
                        onclick="toggleCardLike({{ card.id }})" aria-pressed="{{ isCardLiked }}">
                    <img src="{{ img_src_version }}" id="heartImage{{ card.id }}" alt="'Unliked' symbol" class="card-img-like-button heartButton">
                </button>
            </form>
        </div>
        <div class="card-add-to-cart-button">
            <img src="/static/img-cart.png" alt="'Add to Cart' button" class="card-img-add-to-cart-button">
        </div>
    </div>
</div>