<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/uai5unw.css">
    <title>Please log in!</title>
</head>
<body>
    <div class="login-screen-container">
        <div class="login-mobile-notifications-box">
            {% with messages = get_flashed_messages(category_filter=['invalid_username_or_password']) %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;">
                            {{ message }}
                        </span>
                    {% endfor %}
                {% else %}
                    
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span style="color: red;">
                            {{ message }}
                        </span>
                    {% endfor %}
                {% else %}
                        
                {% endif %}
            {% endwith %}
        </div>
        <div class="login-container">
            <div class="welcome-img1-div">
                <img src="{{ url_for('static', filename='login-snake-img-1.jpg') }}" alt="Login snake image" class="welcome-img1">
            </div>
            <div class="login-box">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="login-mobile-username-div">
                        <!-- <input type="text" class="login-mobile-username-input" placeholder="username"> -->
                        {{ form.username(class_='login-mobile-username-input', placeholder="username") }}
                    </div>
                    <div class="login-mobile-password-div">
                        <!-- <input type="password" class="login-mobile-password-input" placeholder="password"> -->
                        {{ form.password(class_='login-mobile-password-input', placeholder="password") }}
                    </div>
                    <div class="login-mobile-remember-me-div">
                        <label for="login-mobile-remember-me-id">
                            remember me, please!
                        </label>
                        <div class="login-mobile-remember-me-div">
                            <!-- <input type="checkbox" id="login-mobile-remember-me-id" class="login-mobile-remember-me-input"> -->
                            {{ form.remember_me(id="checkbox") }}
                        </div>
                    </div>
                    <div class="login-mobile-submit-button-div">
                        <!-- <button type="submit" class="login-mobile-submit-button">sign in</button> -->
                        {{ form.submit(class_='login-mobile-submit-button') }}
                    </div>
                </form>
            </div>
            <div class="welcome-img2-div">
                <img src="{{ url_for('static', filename='login-snake-img-2.jpg') }}" alt="Login snake image" class="welcome-img2">
            </div>
        </div>
        <div class="login-mobile-register-link">
            <a href="{{ url_for('register') }}">what is this place?</a>
        </div>
    </div>
</body>
</html>