<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/uai5unw.css">
    <title>Please log in!</title>
</head>
<body>
    <div class="screen-container">
        <div class="register-mobile-notifications-box">

        </div>
        <div class="register-screen-container">
            <div class="welcome-img1-div">
                <img src="{{ url_for('static', filename='login-snake-img-1.jpg') }}" alt="Login snake image" class="welcome-img1">
            </div>
            <div class="register-box">
                <form action="" method="post">
                    <div class="register-mobile-username-div">
                        <input type="text" class="register-mobile-username-input" placeholder="username">
                    </div>
                    <div class="register-mobile-password-div">
                        <input type="password" class="register-mobile-password-input" placeholder="password">
                    </div>
                    <div class="register-mobile-password-div">
                        <input type="password" class="register-mobile-password-input" placeholder="confirm password">
                    </div>
                    <div class="register-mobile-submit-button-div">
                        <button type="submit" class="register-mobile-submit-button">sign up</button>
                    </div>
                </form>
            </div>
            <div class="welcome-img2-div">
                <img src="{{ url_for('static', filename='login-snake-img-2.jpg') }}" alt="Login snake image" class="welcome-img2">
            </div>
        </div>
    </div>
</body>
</html>